table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

td {
    border: 1px solid #98a4e6;
    transition: 0.3s all ease-out;
}

td.dragging {
    position: absolute;
}

td.start {
    background: dodgerblue;
}

td.start:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(360deg);
}

td.end {
    background: red;
}

td.end:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(-360deg);
}

td.unvisited {
    background: white;
}

td.visited {
    background: rgba(128, 95, 0, 0.7);
}

td.wall {
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

td.path {
    background: gold;
}

@keyframes wallAnimation {
    0% {
        transform: scale(.3);
        background-color: rgb(12, 53, 71);
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(12, 53, 71);
    }

    100% {
        transform: scale(1.0);
        background-color: rgb(12, 53, 71);
    }
}
