@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    --dark-color: #454f6d;
    --vibrant-color: #F73859;
    --light-color: rgba(132, 172, 206, 0.64);
    --start-node: #3139ff;
    --end-node: #ff3a3c;
}

#container {
    height: 100vh;
    width: 100vw;
}

#controls-container {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--dark-color);
}

#controls-container > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#controls-container > div > div {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 30px;
}

#controls-container > div > div > span {
    margin-right: 10px;
}

#controls-container > div > span {
    color: white;
    font-size: 20px;
    padding: 6px 15px;
}

#grid-container {
    height: 90vh;
}

@media (max-width: 900px) {
    #controls-container > div {
        flex-direction: column;
    }
    #controls-container {
        height: 15vh;
    }
    #grid-container {
        height: 85vh;
    }
}

button {
    outline: none;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    background: var(--dark-color);
    border-radius: 10px;
    transition: all 0.5s ease-out;
}

button:hover {
    color: var(--dark-color);
    background: white;
    border: 2px solid var(--dark-color);
}

button.header {
    margin: 5px 10px;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    background: transparent;
}

button.header:hover {
    transform: scale(1.1);
    color: var(--vibrant-color);
}

#repo-link {
    margin-left: 30px;
    transition: all 0.5s ease-in-out;
}

#repo-link img {
    height: 40px;
    width: 40px;
}

#repo-link:hover {
    transform: scale(1.1);
}

.alert {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
    width: 200px;
    color: var(--vibrant-color);
    background: white;
    border-radius: 25px;
    border: 3px solid var(--vibrant-color);
    animation: ease-in-out 3s floatInAlert forwards;
}

@keyframes floatInAlert {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    80% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
    }
}
